
<script>
  $(document).ready(function() {    
  $("span.zakladka").click(function(){ 
  var id = $(this).attr('id');
  $("span.zakladka").removeClass("red");
  $("textarea").addClass("hide");
  $("span#"+id).addClass("red");
  $("textarea#"+id).removeClass("hide").addClass("active");
  });
  });
</script>

<style>
    .red{
        color:red;
    }
    .show{
        display:none;
    }
    .active{
        display:block;
    }
    .hide{
        display:none;
    }
    </style>

<div style="float:left;">
    <span class="zakladka red" id="html_code" style="
    background-color: #eee;      border: 1px solid #888;      border-radius:3px;
">HTML</span>
    <span class="zakladka" id="css_code" style="
    background-color: #eee;      border: 1px solid #888;      border-radius:3px;
">CSS</span>
    <span class="zakladka" id="js_code" style="
    background-color: #eee;      border: 1px solid #888;      border-radius:3px;
">JS</span>
    <?php echo $this->form; ?>
</div>
<iframe style="width: 500px; height: 350px; float:right;margin-right: 500px;margin-top: 40px;" frameborder="1" scrolling="no" srcdoc="<?php echo $this->iframe; ?>"></iframe>